.block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu {
  align-self: center;
}
.p + main {
  align-items: left;
}
@media (min-width: 1000px) {
  .block {
    flex-direction: row;
  }
}
.header {
  background-color: aquamarine;
  font-family: "Courier New", Courier, monospace;
}
.footer {
  background-color: rgb(167, 243, 218);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  position: sticky;
  bottom: 0%;
}
